.tech-sharing-display {
  display: flex;
}

.tech-sharing-main-content {
  flex: 2;
}

.tech-sharing-sidebar {
  flex: 1;
}

.tech-sharing-sidebar h2 {
  font-size: 2.5rem;
  text-align: center;
}

.sharing-bonus {
  --blue-point-1: rgb(31, 31, 146);
  --blue-point-2: rgb(65, 40, 153);
  --size: 10rem;

  font-size: 7rem;
  line-height: var(--size);
  border-radius: 50%;
  width: var(--size);
  text-align: center;
  margin: 0 auto;
  background: radial-gradient(
      circle at center,
      var(--blue-point-1),
      transparent
    ),
    repeating-conic-gradient(
      var(--blue-point-1) 0,
      var(--blue-point-2) 4deg,
      var(--blue-point-1) 8deg
    );
  border: solid thick rgb(31, 31, 31);
  text-shadow: 0 0 10pt black;
}
