.clock {
  font-size: 5em;
  text-align: center;
  margin: 0.2em 0;
  white-space: nowrap;
}

.pause-blink {
  animation: pause-blink 2s step-end infinite;
}

@keyframes pause-blink {
  50% {
    opacity: 40%;
  }
}
