main.main-menu h1 {
  font-size: 3rem;
  text-align: center;
}

main.main-menu h2 {
  font-size: 2rem;
  text-align: center;
}

#main-menu-buttons {
  display: flex;
  flex-direction: column;
  margin: 5pt;
}

#faction-select-buttons,
#timer-settings-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-menu-button {
  flex: 1;
  padding: 2em;
  font-size: 1.25rem;
  margin: 5pt;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: medium solid lightgray;
}

#faction-select-buttons .main-menu-button {
  min-width: 30%;
}

.main-menu-button-active {
  border: rgb(29, 194, 29) medium solid;
}

.main-menu-button:hover {
  background-color: #ffffff20;
}

.main-menu-button:disabled {
  border: medium solid rgb(92, 92, 92);
  color: rgb(92, 92, 92);
  background-color: transparent;
}
