.kit {
  color: orange;
}

.caylion {
  color: green;
}

.kjas {
  color: red;
}

.faderan {
  color: yellow;
}

.imdril {
  color: DeepSkyBlue;
}

.eniet {
  color: royalblue;
}

.unity {
  color: gray;
}

.yengii {
  color: purple;
}

.zeth {
  color: magenta;
}

.zeth-steal {
  color: darkred;
}
